<div id="menu">
  <h1> Calculadora</h1>

  <ul id="inputsNmrs">
    <li><input type="number" [(ngModel)]="valorA"></li>
    <li><input type="number" [(ngModel)]="valorB"></li>
  </ul>

  <br>
  <div class="botoes">
    <ul id="listaBotoes">
      <li><button id="btnSoma" (click)="soma()">+</button></li>
      <li><button id="btnMenos" (click)="subtracao()">-</button></li>
      <li><button id="btnMulti" (click)="multiplicacao()">*</button></li>
      <li><button id="btnDivi" (click)="divisao()">%</button></li>
      </ul>
    </div>
  <h3>
    <div id="divRes"><p>Resultado: {{resultado}}</p></div> 
  </h3>

</div>